*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #0f172a;
    font-family: "DM Sans", sans-serif;
}

/* Nav-Bar */
.nav-bar {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.logo {
    display: flex;
    align-items: center;
    width: 15vw;
    background-color: #0f172a;
    border-bottom: 1px solid white;
    /* border-right: 1px solid white; */
}

.logo img {
    width: 100%;

}

.store_name {
    background-color: #0f172a;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom: 1px solid white;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.space {
    width: 15vw;
    background-color: #0f172a;
    border-bottom: 1px solid white;
}

/* Fim Nav-Bar */


/* Inicio Menu Opções */
.menu {
    width: 100%;
    height: 4vw;
    background-color: #0f172a;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
}

.menuList {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 70px;
}

.menuList a {
    text-decoration: none;
    color: black;
    height: 2.2vh;
    color: white;
    font-family: "DM Sans", sans-serif;
}
/* Fim Menu Opções */


form{
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    width: 37vw;
    height: 70vh;
}


/* Inicio Novo Brinquedo */

.row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    flex-basis: 10%;
}

.title_textNT{
    width: 100%;
    display: flex;
    text-align: left;
}

.Text_NT{
    font-size: 18px;
    border-bottom: 1px solid black;
}

.Container_NewToy{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#Content_NewToy{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d3d2d2;
  width: 60vw;
  height: 100%;
}

.fieldsetNT_box{
    margin-top: 1%;
    display: flex;
    width: 50vw;
    align-items: center;
    
}

.categoryNT_Box{
    display: flex;
    width: 50vw;
    height: 30vh;
}

.categoryNT_Box .fieldsetNT_boxCTG{
    height: 30vh;
}

.categorysNT{
    font-size: 15px;
    padding: 0;
    bottom: 3%;
}


.category_NTP{
    display: flex;
    font-weight: 600;
    padding-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 20px;
}


/* Caixa para mover o botão salvar e o detalhes NOVO BRINQUEDO */
.fieldsetNT_btn{
    margin-top: 1%;
    display: flex;
    align-items: baseline;
    width: 50vw;
    height: 1vh;
}

#btn_NT{
    width: 7vw;
}

/* Fim tela NOVO BRINQUEDO */



/* Tela EDITAR BRINQUEDO */

.title_textET{
    width: 100%;
    display: flex;
    text-align: left;
}

.Text_ET{
    font-size: 18px;
    border-bottom: 1px solid black;
}

.Container_EditToy{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#Content_EditToy{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d3d2d2;
    width: 60vw;
    height: 100%;
}

.fieldsetET_box{
    margin-top: 1%;
    display: flex;
    width: 50vw;
    align-items: center;
}

.categoryET_Box{
    display: flex;
    width: 50vw;
    height: 30vh;
}

.categoryET_Box .fieldsetET_boxCTG{
    height: 30vh;
}

.categorysET{
    font-size: 15px;
    padding: 0;
    bottom: 3%;
}

.category_ETP{
    display: flex;
    font-weight: 600;
    padding-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 20px;
}

/* Caixa para mover o botão salvar e o detalhes EDITAR BRINQUEDO */
.fieldsetET_btn{
    margin-top: 1%;
    display: flex;
    align-items: baseline;
    width: 50vw;
    height: 1vh;
}

#btn_ET{
    width: 7vw;
}
/* FIM Caixa MOVER E BOTÃO SALVAR */

/* FIM EDITAR BRINQUEDO */



/* inputs com classe para modificação propria */

/* Novo Brinquedo */
.code_nt{
    width: 8vw;
    height: 4vh;
}

.price_nt{
    width: 8vw;
    height: 4vh;
}

.details_BoxNT{
    width: 50vw;
    height: 20vh;
}

/* Editar Brinquedo */
.code_et{
    width: 8vw;
    height: 4vh;
}

.price_et{
    width: 8vw;
    height: 4vh;
}

.details_BoxET{
    width: 50vw;
    height: 20vh;
}

/* Fim INPUTS COM CLASSE */

/* INICIO INPUTS E LABELS GERAIS */
input{
    width: 100vw;
    height: 4vh;
}

input[type="checkbox"]{
    width: 3vw;
}

label{
    position: relative;
    font-weight: 600;
    padding-left: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    box-sizing: border-box;
    font-size: 20px;
}

/* Fim Inputs e Labels Unicos */