.containerToy {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.toyContent {
    display: flex;
    background-color: #e9ebfe;
    width: 80%;
    max-width: 800px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.toyInfo {
    display: flex;
    flex-direction: column;
}

.toyInfo img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    border: 2px solid #000;
    border-radius: 15px;
}

.toyInfo h2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}

.toyInfo p {
    font-size: 16px;
    margin-bottom: 10px;
}

.brand {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.details {
    margin-bottom: 20px;
}