.containerAdm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.camada0 {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

.camada1 {
    background-color: #e9ebfe;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1e3a8a;
    padding-bottom: 10px;
}

.tabela {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toy-compact-cell {
    max-width: 200px;
}

.toy-compact-cell:hover {
    overflow: visible;
    white-space: normal;
    z-index: 1;
    background-color: #fff;
}


.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkEdit, .linkDelete {
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.linkEdit {
    background-color: #1e3a8a;
    color: white;
}

.linkDelete {
    background-color: red;
    color: white;
}

.linkEdit:hover, .linkDelete:hover {
    background-color: #072240;
}

a.botao {
    display: block;
    text-align: center;
    padding: 12px 24px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #1e3a8a;
    transition: background-color 0.3s ease;
}

a.botao:hover {
    background-color: #072240;
}